[submodule "submodules/phantom-E2FGVI"]
	path = submodules/phantom-E2FGVI
	url = git@github.com:MarionLepert/phantom-E2FGVI.git
[submodule "submodules/sam2"]
	path = submodules/sam2
	url = git@github.com:facebookresearch/sam2.git
[submodule "submodules/phantom-robosuite"]
	path = submodules/phantom-robosuite
	url = git@github.com:MarionLepert/phantom-robosuite.git
[submodule "submodules/phantom-robomimic"]
	path = submodules/phantom-robomimic
	url = git@github.com:MarionLepert/phantom-robomimic.git
[submodule "submodules/phantom-hamer"]
	path = submodules/phantom-hamer
	url = git@github.com:MarionLepert/phantom-hamer.git
