[submodule "submodules/phantom-E2FGVI"]
	path = submodules/phantom-E2FGVI
	url = https://github.com/MarionLepert/phantom-E2FGVI.git
[submodule "submodules/sam2"]
	path = submodules/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "submodules/phantom-robosuite"]
	path = submodules/phantom-robosuite
	url = https://github.com/MarionLepert/phantom-robosuite.git
[submodule "submodules/phantom-robomimic"]
	path = submodules/phantom-robomimic
	url = https://github.com/MarionLepert/phantom-robomimic.git
[submodule "submodules/phantom-hamer"]
	path = submodules/phantom-hamer
	url = https://github.com/MarionLepert/phantom-hamer.git
[submodule "submodules/Hand2Gripper_WiLoR-mini"]
	path = submodules/Hand2Gripper_WiLoR-mini
	url = https://github.com/yutian929/Hand2Gripper_WiLoR-mini.git
[submodule "submodules/Hand2Gripper_HACO"]
	path = submodules/Hand2Gripper_HACO
	url = https://github.com/yutian929/Hand2Gripper_HACO.git
[submodule "submodules/Hand2Gripper_hand2gripper"]
	path = submodules/Hand2Gripper_hand2gripper
	url = https://github.com/yutian929/Hand2Gripper_hand2gripper.git
[submodule "submodules/Hand2Gripper_robosuite"]
	path = submodules/Hand2Gripper_robosuite
	url = https://github.com/yutian929/Hand2Gripper_robosuite.git
[submodule "submodules/Hand2Gripper_robosuite_models"]
	path = submodules/Hand2Gripper_robosuite_models
	url = https://github.com/yutian929/Hand2Gripper_robosuite_models.git